.mini-card-container {
  background-color: #564d4d;
  width: 300px;
  height: 220px;
  overflow: hidden;
  margin: 5px;
  border-radius: 15px;
  border: 2px solid #db0000;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}

.action-container {
  margin: 50px 0;
  width: 100%;
  position: absolute;
  top: 180px;
  transition: 0.5s;
  /* bottom: -43px; */
}

.mini-card-container:hover .action-container {
  top: 60px;
}
.mini-card-container:hover img {
  transform: scale(1.05);
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.card-button-container {
  background-color: black;
  width: 100%;
  display: flex;
}

span {
  color: #db0000;
  text-align: center;
}

.mini-img-container img {
  max-width: 100%;
  max-height: 100%;
}

img {
  transition: 0.5s;
}

h2 {
  text-align: center;
  color: #ffffff;
}
